<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
</head>
<body style="text-align:center; margin-top:50px; font-family:sans-serif;">
  <h2>Create Account</h2>

  <form method="POST" action="/register">
    <input name="phone" placeholder="Phone" required><br><br>
    <input name="password" type="password" placeholder="Password" required><br><br>
    <button>Create Account</button>
  </form>

  <br>
  <a href="/login">Login</a>
</body>
</html>
